@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

*{
    margin: 0px;
}
.common-w{
    width: 88%;
    max-width: 1200px;
    margin: 0 auto;
}
.common-bg-color{
    background-color: #1A0B2E;
}

/* shared style */
.btn-primary:hover{
    transform: translateY(-5px);
}
.btn-primary{
    transition: 2s;
    cursor: pointer;
    padding: 12px 16px;
    border: none;
    border-radius: 10000px;
    font-weight: 600;
    font-size: 1rem;
    color: #ffffff;
    background: linear-gradient( 106deg, #F7E93F, #FB09B4, #9100F8);
}
/* navbar styles */
.navbar .nav-logo .logo-name{
    color: #FFFFFF;
    font-size: 2.5rem;
}
.navbar .nav-logo .logo-name span , .footer-title span {
    background: linear-gradient(106deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}
.navbar .icon ul{
    display: flex;
    gap: 32px;
    list-style: none;
}

.navbar .icon ul a:hover{
    color: rgb(247, 0, 255);
}

.navbar .icon ul a{
    text-decoration: none;
    color: #ffffffe8;
    font-weight: 500;
    font-size: 1rem;
}
.navbar .button img{
    display: none;
}


/* banner section  */
#banner{
    background-image: url(assets/hero-bg.png);
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-top: 2px solid rgba(255, 255, 255, 0.068);
}
.banner-container{
    padding-top: 101px;
    /* padding-bottom: 101px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 550px; 
}

.banner-microphone{
    position: relative;
    left: 120px;
    bottom: 270px;
    /* left: 100px;
    right: 100px; */
}

.banner-badge p{
    color: #1A0B2E;
    background-color: #00FF88;
    box-shadow: 0 3px 27px 0px  #00ff8893;
    padding: 8px 16px;
    width: 50px;
    text-align: center;
    border-radius: 1000px;
}

.banner-badge{
    width: 35px;
    position: relative;
    left: 260px;
    bottom: 500px;
}

.banner-circle{
    max-width: 350px;
    max-height: 450px;
    /* margin-bottom: 40px; */
}
.banner-title{
    font-weight: 800;
    font-size: 3.75rem;
    color: #ffffff;
    margin-bottom: 8px;
}
.banner-des{
    font-weight: 400;
    font-size: 1rem;
    color: #ffffffa2;
    margin-bottom: 24px;
}
.banner-button{
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
}

.btn-secondary:hover{
    transform: translateY(-5px);
}

.btn-secondary{
    transition: 100ms;
    cursor: pointer;
    padding: 12px 0px;
    border: 2px solid #00FF88;
    border-radius: 10000px;
    font-weight: 600;
    font-size: 1rem;
    color: #00FF88;
    background-color: rgba(255, 255, 255, 0);
}



/* podcast section  */
.podcast-container{
    padding-top:50px ;
    padding-bottom: 120px;
}
.podcast-content{
    text-align: center;
}
.podcast-title{
    font-weight: bold;
    font-size: 3rem;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.podcast-dec{
    font-weight: 400;
    font-size: 1rem;
    line-height: 30px;
    color: #ffffffa4;
}
.second-dec{
    margin-bottom: 0px;
}
.podcast-summary{
    margin-bottom: 80px;
}
.podcast-overviwe{
    display: grid ;
    gap: 110px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 80px; 
}

.podcast-overviwe-content{
    transition: 1s;
}

.podcast-overviwe-content:hover{
    transform: translateY(-8px);
}

.podcast-overviwe-content h1{
    color: #00FF88;
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 16px;
}
.podcast-overviwe-content p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 16px;
    color: #ffffff83;
}

/* Why Choose TechWave section */
.choose-techWave{
    background-color: #230E3D;
    padding-top: 120px;
    padding-bottom: 120px;
}
.choose-techWave-title h1{
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px;
    color: #FFFFFF;
}

.card:hover{
    transform: translateY(-5px);
    background-color: rgb(53, 17, 101)
}
.card{
    transition: 1s;
    padding: 40px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
}
.choose-techWave h2{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 16px 0;
}
.choose-techWave p{
    color: #ffffff6e;
    font-weight: 400;
    font-size: 1rem;
    line-height: 40px;
}
.Choose-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
    gap: 30px;
}

.frst-card{
    grid-column: span 1;
    grid-row: span 2;
    padding-top: 107px;

}
.second-card{
    grid-column: span 2;
}
.three-card{
    grid-column: span 1;
    grid-row: span 1;
}


/* 5th and 6th featured & meet host section*/
.featured-container-titel{
    padding-top: 120px;
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    color: #FFFFFF;
}
.featured-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
    padding-bottom: 120px;
}
.box iframe{
    border-radius: 24px 24px 0 0;
}
.box:hover{
    transform: translateY(-5px);
    background-color: #250d4463;
}

.box{
    transition: 200ms;
    max-width: 380px;
    max-height: 440px;
    background-color: #250D44;
    border-radius: 24px;
}
.box-content{
    padding: 24px;
}
.box-title{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 12px;
}
.box-dec{
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 12px;
    color: #ffffff7c;
    line-height: 24px;
}
.time{
    display: flex;
    gap: 6px;
}
.time img{
    width: 20px;
}
.time h4{
    font-weight: 600;
    font-size: 1rem;
    color: #00FF88;
}

/* Meet the Host section */

.host-title{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}

.host-content:hover{
    transform: translateY(-5px);
    background-color: #35116533;
}

.host-content{
    transition: 200ms;
    display: flex;
    background-color: #35116581;
    border-radius: 40px;
    padding: 40px;
    gap: 24px;
}
.host-container{
    padding-bottom: 120px;
}

.host-des-container{
    display: flex;
    align-items: center;
}
.host-des h2{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 16px;
}
.host-des p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: #ffffff80;
    margin-bottom: 16px;
}

.host-social .social{
    border: 1px solid #533C72;
    border-radius: 1000%;
    text-align: center;
    gap: 80px;
    padding: 12px 12px;
}


/* footer section  */


.footer-container{
    margin: 0 auto;
    text-align: center;
    padding-top: 70px;
}



.footer-box{
    background-image: url(assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: cover;
    padding-bottom: 70px;
    background-size: cover;
    position: relative;
}

.footer-title{
    font-weight: 900;
    color: #FFFFFF;
    font-size: 2rem;
}
.footer-link a{
    text-decoration: none;
    color: #ffffff8a;
}
.footer-links{
    max-width: 600PX;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 32px auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-link img{
    margin-right: 8px;
}

.footer-copyright{
    color: #fafafac4;
}
/* ressponsive */

@media screen and (max-width:576px) {


.podcast-overviwe {
    display: grid ;
    gap: 55px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px; 
}

.podcast-dec{
    line-height: 20px;
}

.podcast-container{
    padding-bottom: 40px;
}

.podcast-summary{
    margin-bottom: 40px;
}
.podcast-title{
    font-size: 2rem;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.Choose-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
}
.choose-techWave-title h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}
.choose-techWave{
    padding-top: 40px;
    padding-bottom: 40px;
}
.navbar .button img{
    display: block;
    /* width: 28px; */
    /* background-color: #00FF88; */

}
.navbar .icon{
    display: none;
    cursor: pointer;
}

.navbar .btn-primary{
    display: none;
}
.navbar .nav-logo .logo-name{
    color: #FFFFFF;
    font-size: 2rem;
}


/* banner section */
.banner-container{
    text-align: center;
}

.banner-microphone{
    position: relative;
    left: 0px;
    bottom: 270px;
}

/* Featured Episodes */


.featured-box{
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 40px;
}
.featured-container-titel{
    padding-top: 40px;
    font-size: 1rem;
}

.box iframe{
    width: 100%;
}
.box{
    width: 100%;
    height: 100%;
}

/* host section */

.host-des-container{
    text-align: center;
    flex-direction: column;
}

.host-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* footer section  */
.footer-links{
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    max-width: 400px;
}
.footer-copyright{
    text-align: center;
}

}