@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

*{
    margin: 0px;
}
.common-w{
    width: 88%;
    max-width: 1200px;
    margin: 0 auto;
}
.common-bg-color{
    background-color: #1A0B2E;
}

/* shared style */
.btn-primary{
    padding: 12px 16px;
    border: none;
    border-radius: 10000px;
    font-weight: 600;
    font-size: 1rem;
    color: #ffffff;
    background: linear-gradient( 106deg, #F7E93F, #FB09B4, #9100F8);
}
/* navbar styles */
.navbar .nav-logo .logo-name{
    color: #FFFFFF;
    font-size: 2.5rem;
}
.navbar .nav-logo .logo-name span {
    background: linear-gradient(106deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}
.navbar .icon ul{
    display: flex;
    gap: 32px;
    list-style: none;
}
.navbar .icon ul a{
    text-decoration: none;
    color: #ffffffe8;
    font-weight: 500;
    font-size: 1rem;
}



/* banner section  */


/* podcast section  */
.podcast-container{
    padding-top:50px ;
    padding-bottom: 120px;
}
.podcast-content{
    text-align: center;
}
.podcast-title{
    font-weight: 700;
    font-size: 3rem;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.podcast-dec{
    font-weight: 400;
    font-size: 1rem;
    line-height: 30px;
    color: #ffffffa4;
}
.second-dec{
    margin-bottom: 0px;
}
.podcast-summary{
    margin-bottom: 80px;
}
.podcast-overviwe{
    display: grid ;
    gap: 110px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 80px; 
}
.podcast-overviwe-content h1{
    color: #00FF88;
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 16px;
}
.podcast-overviwe-content p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 16px;
    color: #ffffff83;
}

/* Why Choose TechWave section */
.choose-techWave{
    background-color: #230E3D;
    padding-top: 120px;
    padding-bottom: 120px;
}
.choose-techWave-title h1{
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px;
    color: #FFFFFF;
}
.card{
    padding: 40px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
}
.choose-techWave h2{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 16px 0;
}
.choose-techWave p{
    color: #ffffff6e;
    font-weight: 400;
    font-size: 1rem;
    list-style: 24px;
}
.Choose-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
    gap: 30px;
}

.frst-card{
    grid-column: span 1;
    grid-row: span 2;

}
.second-card{
    grid-column: span 2;
    /* grid-rows: span 1; */
}
.three-card{
    grid-column: span 1;
    grid-row: span 1;
}

/* ressponsive */

@media screen and (max-width:576px) {
    .podcast-overviwe{
    display: grid ;
    gap: 55px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px; 
}
.podcast-summary{
    margin-bottom: 40px;
}
.podcast-title{
    font-size: 2rem;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.Choose-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
}
.choose-techWave-title h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}
.choose-techWave{
    padding-top: 40px;
    padding-bottom: 40px;
}

}